
.container {
	clear:both;	
}
.bullet-graph {
	width: 420px;
	padding:10px;
/*	border:1px solid #ccc;*/
	height: 40px;	
}

.section-label {
	width: 145px;
	float:left;
/*	background-color:red;*/	
		height: 100%;
		padding-right:5px;	
}
.section-graph {
	width: 260px;
	margin-left:150px;
/*	background-color:green;*/	
		height: 100%;
}

.title {
	font-weight: bold;
	text-align:right;		
}
.note {
	font-weight: normal;
	text-align:right;			
}
.ranges, .bad, .ok, .good {
	height: 25px;	
}
.ranges {
	background-color:#ddd;		
}

.bad {
	background-color:#777;	

	position:relative;
	top:-25px;

}
.ok {
	background-color:#aaa;	


}
.target {
	width:3px;
	background-color:#000;
	height:20px;
	position:relative;	
	top:-32px;
}
/*.good {
	background-color:#eee;	
}*/
.actual{
	height:10px;
	background-color:#000;	
	position:relative;
	top:-18px;
}
.markers {
	border-left:1px solid #000;
	border-right:1px solid #000;
	top: -27px;
    position: relative;	
    height: 5px;
}
.mark {
	width:31px;
	float:left;
	border-right:1px solid #000;
/*	background-color: yellow;*/
	height:100%;
}


.markers .number{
	float:right;
	margin-right:-10px;	
    width: 20px;
    text-align: center;
    font-size:9pt;
    margin-top:7px;
}
.markers .number.first{
    float: left;
    margin-left: -10px;
}