	#toggle, #search, #size {
		margin: 10px;
	}
	#toggle span  {
		margin: 0 10px;
	}
	#datatable table{
		border-collapse: collapse;
		margin: 20px 0;
	}
	thead, tr {
		width: 100%;
		height: 25px;
	}
	thead {
		font-weight:bold;
		border-bottom:1px solid #000;
		cursor: pointer;
	}
	th {
		padding:3px 5px;
		text-align:left;
	}
	.asc{
		background:no-repeat transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZ0lEQVQ4y2NgGLKgquEuFxBPAGI2ahhWCsS/gDibUoO0gPgxEP8H4ttArEyuQYxAPBdqEAxPBImTY5gjEL9DM+wTENuQahAvEO9DMwiGdwAxOymGJQLxTyD+jgWDxCMZRsEoGAVoAADeemwtPcZI2wAAAABJRU5ErkJggg==') center right;
	}
	.desc {
		background:no-repeat transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII=') center right;
	}
	.def {
		background:no-repeat transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7XQMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC') center right;
	}
	#datatable tr{
		/*border-bottom:1px solid #ccc;*/
	}
	#datatable td{
		padding:3px 5px;
	}

	.name, .position, .office, .age, .startDate, .salary{
		width: 100px;
	}
	.position{
		width: 200px;
	}
	/*#datatable tbody tr:nth-child(odd) {
		background-color: #fff;
	}*/
	#datatable tr:nth-child(even) td{
		background-color: #eee;
		border-bottom:1px solid #ccc;
		border-top:1px solid #ccc;
	}
	#datatable tr:nth-child(even) td.hi {
		background-color:#DAE2ED;
	}
	#datatable tr:nth-child(odd) td.hi {
		background-color:#E1EBF8;
	}
	.hide {
		display:none;
	}
	.toggle {
		margin: 0 5px;
	}
	.paging {
		margin-top:20px;

	}
	.page {
		padding: 5px;
		margin: 0 10px;
		border: 1px solid #ccc;
	}
